<%= form_with(model: user, class: "contents") do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul class="list-disc ml-6">
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :nickname, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :nickname, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": user.errors[:nickname].none?, "border-red-400 focus:outline-red-600": user.errors[:nickname].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :name, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": user.errors[:name].none?, "border-red-400 focus:outline-red-600": user.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :email, class: "block text-sm font-medium text-gray-700" %>
    <%= form.email_field :email, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": user.errors[:email].none?, "border-red-400 focus:outline-red-600": user.errors[:email].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :password, "Nuova Password", class: "block text-sm font-medium text-gray-700" %>
    <%= form.password_field :password, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": user.errors[:password].none?, "border-red-400 focus:outline-red-600": user.errors[:password].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :password_confirmation, "Conferma Password", class: "block text-sm font-medium text-gray-700" %>
    <%= form.password_field :password_confirmation, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": user.errors[:password_confirmation].none?, "border-red-400 focus:outline-red-600": user.errors[:password_confirmation].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :uid, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :uid, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": user.errors[:uid].none?, "border-red-400 focus:outline-red-600": user.errors[:uid].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :provider, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :provider, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": user.errors[:provider].none?, "border-red-400 focus:outline-red-600": user.errors[:provider].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :token, "Token (Solo lettura)", class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :token, readonly: true, class: "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full bg-gray-100 cursor-not-allowed" %>
  </div>

  <div class="my-5">
    <%= form.label :token_expires_at, class: "block text-sm font-medium text-gray-700" %>
    <%= form.datetime_local_field :token_expires_at, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": user.errors[:token_expires_at].none?, "border-red-400 focus:outline-red-600": user.errors[:token_expires_at].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :reset_password_token, "Token Reset Password (Solo lettura)", class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :reset_password_token, readonly: true, class: "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full bg-gray-100 cursor-not-allowed" %>
  </div>

  <div class="my-5">
    <%= form.label :reset_password_sent_at, "Reset Password inviato il (Solo lettura)", class: "block text-sm font-medium text-gray-700" %>
    <%= form.datetime_local_field :reset_password_sent_at, readonly: true, class: "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full bg-gray-100 cursor-not-allowed" %>
  </div>

  <div class="my-5">
    <%= form.label :remember_created_at, "Remember me creato il (Solo lettura)", class: "block text-sm font-medium text-gray-700" %>
    <%= form.datetime_local_field :remember_created_at, readonly: true, class: "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full bg-gray-100 cursor-not-allowed" %>
  </div>

  <div class="inline">
    <%= form.submit "Submit", class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>