<div id="<%= dom_id waiting %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= waiting.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= waiting.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= waiting.email %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= waiting.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Discovered:</strong>
    <%= waiting.discovered %>
  </div>
</div>
